<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RaftakiFilmlerV7</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
</head>
<body>
    <div class="sidebar">
        <ul class="navbar-nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="https://localhost:7195/Film">Admin Sayfası</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Ana Sayfa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Kategoriler</a>
            </li>
        </ul>
    </div>

    <div class="content">
        @RenderBody()
    </div>

    <a class="nav-link logout-link" asp-controller="Base" asp-action="Logout">Logout</a>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
